Data TLB configuration
Number of entries: 8

Page Table configuration
Number of virtual pages: 8192
Number of physical pages: 1024
Page size: 524288

Data Cache configuration
Number of entries: 2048
Set size: 4
Line size: 64
Write through/no write allocate: y

Virtual addresses: y
TLB: y
